/* Importa uma fonte externa do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

/* Importa outra fonte externa com vários pesos */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}

html {
    background-color: #f2f2f2;
}

h2 {
    font-size: 2.0rem;
    margin-bottom: 15px;
    text-align: center;
    color: #85298f;
}

.header {
    padding: 20px;
    box-shadow: 0px 1px 10px #0000001a;
    background-color: #222529;
}

.logomarca {
    width: 10vw;
}

.titulo {
    font-size: 48px;
    font-weight: 700;
    line-height: 4rem;
    color: #33303e;
    font-family: "Mochiy Pop One", sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.links-navegacao {
    display: flex;
    list-style-type: none;
}

.links-navegacao li a {
    padding: 0;
    margin: 16px;
    color: #fbfbfb;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

li.cadastrar a {
    padding: 8px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid;
    background-color: #d1a52a;
}

li.cadastrar a:hover {
    font-size: 1.4rem;
    padding: 10px 13px;
    transition: 0.5s;
}

/* ====================== game-destaque */
.game-destaque {
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.destaque {
    width: 500px;
}

.cta-primary {
    padding: 12px 28px;
    background-color: #85298f;
    color: #f5f5f5;
    font-weight: 700;
    border-radius: 12px;
    font-size: 20px;
}

.destaque img {
    width: 500px;
    border-radius: 30px;
}

.destaque-description {
    width: 700px;
}

.destaque-description h1 {
    font-size: 54px;
}

.destaque-description p {
    font-size: 28px;
    margin-bottom: 12px;
}

/* ==========================Categorias */
.categorias {
    /* height: 50vh; */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categorias-games {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.categoria:hover {
    scale: 1.2;
    transition: 0.8s;

}

.categoria {
    background-color: #d1a52a;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.cat-1 {
    background-image: url(/assets/img/categoria-rpg.png);
}

.cat-2 {
    background-image: url(/assets/img/categoria-aventura.png);
}

.cat-3 {
    background-image: url(/assets/img/categoria-fps.png);
}

.cat-4 {
    background-image: url(/assets/img/categoria-terror.png);
}

.cat-5 {
    background-image: url(/assets/img/categoria-indie.png);
}

.cat-title {
    color: #2c2929;
    font-weight: 700;
    font-size: 18px;
    margin: 100% auto;
    text-align: center;
    padding-top: 10px;
}

/* =============== Os queridinhos */
.queridinhos{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.queridinhos-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.queridinho-item {
    width: 350px;
    transition: .7s;
    padding: 20px;
}

.queridinho-item:hover{
    background-color: #eeeeee;
    scale: 1.1;
}

.queridinho-item ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.queridinho-item ul li{
    font-size: 24px;
}

.queridinho-item img {
    width: 100%;
    height: 80%;
    border-radius: 12px;
    object-fit: cover;
}

.button-jogue{
    margin-top: 20px;
    text-align: center;
}
.button-jogue a {
    padding: 10px 22px;
    background-color: #85298f;
    color: #f5f5f5;
    font-weight: 700;
    border-radius: 12px;
    font-size: 20px;
    text-decoration: none;
}


/* ========== desconto-semana */

.desc-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.desc-countdown{
    width: 40vw;
    border: 1px solid #454545;
    height: auto;
    border-radius: 50px;
}

.desc-img{
    width: 500px;
    
}
.desc-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* ================== games cards */
.games-catalogo {
    padding: 50px;
}


.container-gamescat {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0 50px;
}

.game {
    width: 220px;
}

.img-game {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.game h4 {
    font-size: 22px;
}

.game p {
    padding: 5px 0px;
    font-size: 14px;
    color: #222222;
}

.game button {
    font-size: 14px;
    /* Tamanho do texto */
    font-family: 'Mochiy Pop One', sans-serif;
    /* Fonte */
    width: 220px;
    /* Largura fixa */
    padding: 15px 0;
    /* Espaçamento interno */
    background-color: #85298f;
    /* Cor de fundo */
    color: #f5f5f5;
    /* Cor do texto */
    border-radius: 10px;
    /* Bordas arredondadas */
    border: 1px solid #f5f5f5;
    /* Borda */
    cursor: pointer;
    /* Cursor de clique */

    display: flex;
    /* Flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    text-decoration: none;
    /* Remove sublinhado dos links */

    transition: transform 0.2s, background-color 0.2s;
    /* Animação */
}